@import url(menu.css);
header{
    width:100%;
}
body{
    display:flex;
    flex-direction: column;
    align-items:center;
}

.valorImportante{
    font-weight: bold;
    text-shadow:  #f593c4f6 1px 1px 2px;
}
.botonEliminar{
    background-color: #ff69b4;
    color: white;
    border-radius: 50px;
    cursor: pointer;
    border: 2px;
    padding: 5px 8px;
    transition-duration: 0.5s;
}
.botonEliminar:hover{
    background-color: #ff1493;
}
#comprarTotal:hover, .contenedorMenuCompra div:hover{
    /*background-position: right center;*/
    transform: translateY(-3px);
    box-shadow: 0 8px 20px #f593c4f6;
    background-color: rgb(238, 155, 255);
    background-position: right center;
}

.divSeparador{
    padding:5px;
    display:flex;
    flex-direction:column;
    align-self: flex-start;
}

#comprarTotal{
    padding: 15px 30px;
    cursor: pointer;
    border-radius: 12px;
    background: linear-gradient(135deg, #ff69b4, #fa86f4, #26a8e0);
    background-size: 200% auto;
    font-size: 14px;
    font-weight: 700; /* Letra en negrita */
    letter-spacing: 0.5px;
    color:aliceblue;
}

.contenedorMenuCompra div{
    display: flex;
    flex-direction: row;
    height:20px;
    padding: 15px 30px;
    cursor: pointer;
    border-radius: 12px;
    background: linear-gradient(135deg, #ff69b4, #fa86f4, #26a8e0);
    background-size: 200% auto;
    font-size: 14px;
    font-weight: 700; /* Letra en negrita */
    letter-spacing: 0.5px;
    color:aliceblue;
}



body h1{
    text-align: center;
    color: #333;
    margin: 0;
}

.efectuarCompra{
    display: flex;
    justify-content:center;
    padding-top: 50px;
}

.catalogo{
    padding-left: 200px; /*Para que no pise el menu*/
    padding-right:200px;
    padding-top: 0;
    display:grid;
    grid-template-columns: repeat(auto-fill, 450px); /* Para las fracciones, se puede pensar como cuantos de 200px minimo entran en el tamaño de pantalla */
    gap: 10px;
    margin: auto;
    max-width: 80vw;
    /*max-width: 1400px; /*lo limito para MAXIMO 3 productos*/
}

.producto{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    background-color: #fff; /*Auxiliar para ver los contenedores*/
    border-radius: 15px;
    height:320px;
    width: 450px;
}
.infoProducto{
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

#barraInferiorBotones{
    Height:100%;
}
.contenedorMenuCompra{
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    align-items:center;
    height: 100%;
    padding-left:15%;
    padding-right:15%;
}

input[type="number"]{
    width:20%;
}

.producto img{
    width: 196px;
}

button[type="button"],input[type="number"]{
    height:50px; /*AUXILIAR*/
    border-radius: 5px;
    cursor: pointer;
    border: 0px;
    background-color:#5ebae9;
}

@media screen and (min-width: 769px) and (max-width: 1279px)  {
    .producto img{
        width: 160px;
    }
}

@media screen and (max-width: 768px)  {
    .producto{
        width: 100%;
        height: auto;
    }
    .producto img{
        width: 160px;
        height: 240px;
    }
    .efectuarCompra{
    padding-top: 130px;
    }
    .catalogo {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px; /* Ajusta si es necesario */
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-width: 90vw;
        margin: 0;
    }
    
    
}