@import url(menu.css);

.catalogo{
    padding-left: 120px; /*Para que no pise el menu*/
    padding-top: 50px;
    display:grid;
    grid-template-columns: repeat(auto-fill, 450px); /* Para las fracciones, se puede pensar como cuantos de 200px minimo entran en el tamaño de pantalla */
    gap: 10px;
    max-width: 1400px; /*lo limito para MAXIMO 3 productos*/
    margin: auto;
}

.producto{
    display:flex;
    flex-direction: row;
    background-color: #fff; /*Auxiliar para ver los contenedores*/
    border-radius: 15px;
}
.infoProducto{
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

#barraInferiorBotones{
    Height:100%;
}
.contenedorMenu{
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    align-items:center;
    height: 100%;
    padding-left:15%;
    padding-right:15%;
}

input[type="number"]{
    width:20%;
}

.producto img{
    width: 196px;
}

button[type="button"],input[type="number"]{
    border-radius: 5px;
    cursor: pointer;
    border: 0px;
    background-color:#5ebae9;
}