@import url(menu.css);

.catalogo{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Para las fracciones, se puede pensar como cuantos de 200px minimo entran en el tamaño de pantalla */
    gap: 10px;
    max-width: 80%;
    margin: auto;
    
}

.producto{
    display:flex;
    flex-direction: row;
    background-color: #fff; /*Auxiliar para ver los contenedores*/
    border-radius: 15px;
}

.producto img{
    width:40%;
    height:auto;
}

.producto form{
    display:flex;
    flex-direction:column;
    
}

