@import url(menu.css);

body{
    font-family: "Baloo 2", sans-serif;
}

.contenedorPrincipal{
    max-width:900px;
    margin:auto;
    padding: 20px;
    border: 1px solid #ddd; /*BORRAR*/
    
}

#mapa, iframe{
    width: 100%;
}

.formularioContacto{
    
    font-weight: bold;
}