@import url(menu.css);
body{
    display:flex;
    flex-direction:column;
}

.menuAdmin, .menuAdmin li, .menuAdmin a {
    height: 30px;
    width: 80px;
    padding: 0;
    margin: 0;
    right: 15%;
    z-index: 5;
    position: fixed;
    list-style: none;
    transition-duration: 1s;
}

.login-link:hover {
    background-color: #ff69b4;
    border-color: #ccc;
}

.contenedorPrincipal{ 
    display:grid;
    grid-template-columns: 15% 15% 40% 15% 15%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    padding-top:50px;
    padding-left: 100px; 
    padding-right:100px;
}
#maquinaIzquierda{
    grid-column-start: 2;
    grid-column-end: 3;

}
#maquinaDerecha{
    grid-column-start: 4;
    grid-column-end: 5;
}
#maquinaCentro{
    grid-column-start: 3;
    grid-column-end: 4;
}

.contenedorSecundario{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.contenedorMenu{
    display: flex;
    align-items:center;
}

.contenedorMenu button[type="button"],input[type="number"]{
    border-radius: 5px;
    cursor: pointer;
    border-style:dashed;
    border-color: aqua;
    background-color:#fff176;
}

.contenedorSecundario img {
    min-width: 191px;
    max-width: 80%; 
    height: auto;     
}
#maquinaCentral img{
    max-height: 70vh;

}

#barraInferiorBotones{
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    padding-left:20%;
    padding-right:20%;
}

#barraInferiorBotones .botones{
    transform: scale(4) translateY(-3px);
    color:#333;
    text-decoration: none;
    background-color:#5ebae9;
    cursor: pointer;
    border-radius: 10px 10px 0px 0px;
    border-color:aqua;
}

#barraInferiorBotones .botones:hover{
    background-color: #237096;
    color: white;
}

@media screen and (min-width: 769px) and (max-width: 1279px)  {
    #barraInferiorBotones{
        padding-left:15%;
        padding-right:15%;
    }
    #barraInferiorBotones .botones{
        transform: scale(2) translateY(-3px);
    }
    .contenedorSecundario img {
        min-width: 150px;
        max-width: 80%;
        padding-top:10px;     
    }
    .infoProducto h2,.infoProducto p{
        font-size: 0.9em;
    }
}
@media screen and (max-width: 768px)  {
    #barraInferiorBotones{
        padding-left:5%;
        padding-right:5%;
    }
    #barraInferiorBotones .botones{
        transform: scale(3) translateY(-3px);
    }
    .contenedorSecundario img {
        min-width: 150px;
        max-width: 80%;
        padding-top:10px;  
    }
    .contenedorSecundario{ 
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 80vh;
    }

    .contenedorPrincipal{ 
        display:flex;
        flex-direction:column;
        padding:50px;
    }

    .infoProducto h2,.infoProducto p{
        font-size: 1.4em;
    }
    .menuAdmin , .menuAdmin li, .menuAdmin a {
    right: 30%;
}

}