@import url(menu.css);

.contenedorPrincipal{ 
    display:grid;
    grid-template-columns: 15% 15% 40% 15% 15%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    padding-top:50px;
    padding-left: 120px; 
    padding-right:120px;
}
#maquinaIzquierda{
    grid-column-start: 2;
    grid-column-end: 3;

}
#maquinaDerecha{
    grid-column-start: 4;
    grid-column-end: 5;
}
#maquinaCentro{
    grid-column-start: 3;
    grid-column-end: 4;
}

.contenedorSecundario{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.contenedorMenu{
    display: flex;
    align-items:center;
}

.contenedorSecundario img {
    min-width: 191px;
    max-width: 80%; 
    height: auto;     
}

#barraInferiorBotones{
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    padding-left:20%;
    padding-right:20%;
}

#barraInferiorBotones .botones{
    transform: scale(4) translateY(-3px);
    color:#333;
    text-decoration: none;
    background-color:#5ebae9;
    border-radius: 10px 10px 0px 0px;
    border-color:aqua;
}