body{
    background-color: #fff176 ;
    margin:0;
    padding:0;
}

#barraSuperior, #barraInferior{
    background-color: #5ebae9; /* color de fondo */
    height: 30px;
    width:100%;
    padding:0;
    position:fixed;
    margin:0;
}

#barraSuperior{
    top:0;
    filter: drop-shadow(0 4px 2px rgba(0, 0, 0, 0.4));
}

#barraInferior{
    bottom:0;
    filter: drop-shadow(4px -4px 2px rgba(0, 0, 0, 0.4));
}

#barraInferiorBotones{
    Height:100%;
}

.menuPrincipal, .menuCarrito{
    font-family: "Baloo 2", sans-serif; /* fuente */
    list-style-type:none;
    margin: 0;
    padding: 0;
    width: 110px;
    overflow:hidden; /*ayuda al hover, para que no coloree por fuera*/
    box-shadow: 2px 2px 4px #000; /* sombra */
    background-color: #ff69b4; 
    position: fixed; /* lo fijo */
}

.menuPrincipal{
    border-radius: 0px 20px 20px 0px;
    left: 0;
    top:50%; /* esto lo complemento con transform */
    transform:translate(0%, -50%); /* Muevo un 50% del tamaño de ul hacia arriba, para que quede BIEN centrado */
}

.menuCarrito{
    border-radius: 0px 0px 20px 20px;
    top:0;
    right:5%; 
}

.botonCarrito{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}

.menuCarrito img{
    width: 60%;
    height: auto;
}

li a{
    display: block; /* todo el bloque --> enlace */
    color: #333; /* color texto */
    padding: 16px;
    text-align: center;
    text-decoration: none; /* -subrayado */
    font-size: 20px;
}

li a:hover{
    font-weight: 700; /* negrita */
    background-color: #ba68c8; /* paso el mouse -> color */
    color: white; /* paso el mouse -> color texto */
}

li a:hover .iconos{
    filter:brightness(100);
}