body{
    font-family: "Baloo 2", sans-serif;
    color:#333;
    background-color: #fff176 ;
    margin:0;
    padding:0;
    min-height:100vh;
}


/* Muy rustico, modificar despues */
#barraSuperior .contenidoSuperior {
    display: flex;
    align-items: center;
    padding:20px;
    width:150px;
    background-color: #5ebae9;
    height: 300%;
    border-radius: 30px;
}

#barraSuperior .logoMarca {
    height: 150px;
    width: auto; 
}
/*=================================================*/


#barraSuperior, #barraInferior{
    background-color: #5ebae9; /* color de fondo */
    height: 30px;
    width:100%;
    padding:0;
    position:fixed;
    margin:0;
    z-index: 2;
}

#barraSuperior{
    top:0;
    filter: drop-shadow(0 4px 2px rgba(0, 0, 0, 0.2));
}

#barraInferior{
    bottom:0;
    filter: drop-shadow(4px -4px 2px rgba(0, 0, 0, 0.2));
}

#barraInferiorBotones{
    Height:100%;
}

.menuPrincipal, .menuCarrito{
    font-family: "Baloo 2", sans-serif; /* fuente */
    list-style-type:none;
    margin: 0;
    padding: 0;
    width: 110px;
    overflow:hidden; /*ayuda al hover, para que no coloree por fuera*/
    box-shadow: 2px 2px 4px #000; /* sombra */
    background-color: #ff69b4; 
    position: fixed; /* lo fijo */
    z-index: 3;
}

.menuPrincipal{
    border-radius: 0px 20px 20px 0px;
    left: 0;
    top:50%; /* esto lo complemento con transform */
    transform:translate(0%, -50%); /* Muevo un 50% del tamaño de ul hacia arriba, para que quede BIEN centrado */
}

.menuCarrito{
    border-radius: 0px 0px 20px 20px;
    top:0;
    right:5%; 
}

.botonCarrito{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}

.menuCarrito img{
    width: 60%;
    height: auto;
}

li a{
    display: block; /* todo el bloque --> enlace */
    color: #333; /* color texto */
    padding: 16px;
    text-align: center;
    text-decoration: none; /* -subrayado */
    font-size: 20px;
}

li a:hover{
    font-weight: 700; /* negrita */
    background-color: #ba68c8; /* paso el mouse -> color */
    color: white; /* paso el mouse -> color texto */
}

li a:hover .iconos{
    filter:brightness(100);
}

footer{
    height: 90px; /* Tengo que modificar para hacerlo mas visible */
    width: 100%;
    bottom:0;
    z-index:1;
}

.footerContactos{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:end;
    position:top;
    height:90px;
    width:100%;
}

.footerIconos{
    display:flex;
    flex-direction:row;
    list-style: none;
    background-color: #ff69b4;
    overflow:hidden;
    padding-left: 0px;
    border-radius: 20px 20px 0px 0px;
    filter: drop-shadow(4px -4px 2px rgba(0, 0, 0, 0.4));
    /*z-index:-1;*/ /* Lo elimino para que no haya problemas al clickear los links */
}

.footerIconos img{
    width: 30px;
    height: 30px;
    margin: 0 0px;
}

@media screen and (min-width: 769px) and (max-width: 1279px)  {
    #barraSuperior .contenidoSuperior {
        padding:10px;
        width:80px;
        height: 200%;
        border-radius: 30px;
    }
    
    #barraSuperior .logoMarca {
        height: 80px;
        width: auto; 
    }
    .menuCarrito{
        width: 80px;
        right:3%; 
    }

    .menuPrincipal{
        width: 100px;
    }
    li a,label{
        font-size: 16px;
    }
    li a{
        padding: 12px;
    }
}

@media screen and (max-width: 768px)  {
    .menuPrincipal{
        width: 100px;
    }
    li a,label{
        font-size: 16px;
    }
    li a{
        padding: 12px;
    }
    #barraSuperior .contenidoSuperior {
        padding:5px;
        width:100px;
        height: 100px;
        border-radius: 30px;
    }
    #barraSuperior .logoMarca {
        height: 100px;
        width: auto; 
    }
}