@import url(menu.css);

body{
    display:flex;
    flex-direction:column;
}

.contenedorPrincipal{
    max-width:900px;
    margin:auto;
    padding: 20px;
    background-color: antiquewhite;
    border-radius: 20px;

}

h1{
    text-align:center;
    margin-top:30px;
}

.probabilidades{
    width:90%;
    table-layout: fixed; /* para que el ancho de las columnas sea dinamico*/
    margin:auto;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 20px;
    filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, 0.2));
}

th{
    background-color:#5ebae9;
    color:white;
    padding: 10px;
    border-radius: 10px;
    overflow-wrap: break-word;
    font-size: 10px;
}

td{
    text-align: center;
}

tr:hover{
    background-color:#fff59d;
}

@media screen and (min-width: 769px) and (max-width: 1279px)  {
    .contenedorPrincipal{
        padding-left:80px;
        padding-right:80px;
    }
}

@media screen and (max-width: 768px)  {
    .contenedorPrincipal{
        padding-left:80px;
        padding-right:0px;
    }
}